* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #DDD;
}

header > article {
    background-color: black;
    height: 200px;
    width: 1000px;
    margin: 0 auto;
    border-radius: 10px 10px 10px 10px;
    margin-top: 20px;
}

header > article > h1 {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px;
    font-size: 40px;
}

nav {
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: purple;
    width: 1000px;
    margin: 0 auto;
    border-radius: 10px 10px 10px 10px;
    margin-top: 40px;
    height: 100px;
}

nav > a {
    color: yellow; 
    margin: 0 20px 0 20px;
    font-size: 22px;
    
}

#casamento{
    background-color: darkblue;
    width: 1000px;
    margin: 0 auto;
    border-radius: 10px 10px 10px 10px;
    height: 250px;
    margin-top: 40px;
}

#casamento > h3 {
    text-align: center;
    padding: 20px;
    color: orangered;
    font-size: 25px;
    font-weight: bold;
}

#casamento > h5 {
    text-align: center;
    color: white;
    padding: 10px;
}

#casamento > p {
    text-align: center;
}

#filhos{
    background-color: darkblue;
    width: 1000px;
    margin: 0 auto;
    border-radius: 10px 10px 10px 10px;
    height: 120px;
    margin-top: 40px;
}

#filhos > h3 {
    text-align: center;
    padding: 20px;
    color: orangered;
    font-size: 25px;
    font-weight: bold;
}

#filhos > h5 {
    text-align: center;
    color: white;
    padding: 10px;
}

#filhos > p {
    text-align: center;
}

#depressão{
    background-color: darkblue;
    width: 1000px;
    margin: 0 auto;
    border-radius: 10px 10px 10px 10px;
    height: 150px;
    margin-top: 40px;
}

#depressão > h3 {
    text-align: center;
    padding: 20px;
    color: orangered;
    font-size: 25px;
    font-weight: bold;
}

#depressão > h5 {
    text-align: center;
    color: white;
    padding: 10px;
}

#depressão > p {
    text-align: center;
}

#alcoolismo{
    background-color: darkblue;
    width: 1000px;
    margin: 0 auto;
    border-radius: 10px 10px 10px 10px;
    height: 170px;
    margin-top: 40px;
}

#alcoolismo > h3 {
    text-align: center;
    padding: 20px;
    color: orangered;
    font-size: 25px;
    font-weight: bold;
}

#alcoolismo > h5 {
    text-align: center;
    color: white;
    padding: 10px;
}

#alcoolismo > p {
    text-align: center;
}

footer > article{
    background-color: black;
    margin-top: 30px;
    border-radius: 10px 10px 10px 10px;
}

footer > article > p{
    color: white;
    margin: 0 0 0 20px;
}

.container > img {
    max-height: 418px;
    max-width: 612px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    border-radius: 10px 10px 10px 10px;
    margin-top: 40px;
}